.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  justify-content: flex-start;
  padding-top: 3rem;
}



.myImg {
  border-radius: 10px;
}

.blogItemh3 {
  cursor: pointer;
}

.blogItem {
  max-width: 45vw;
}

.btn{
  color: #fff;
  background: #000;
  padding: 5px 3px;
  border-radius:6px;
  cursor: pointer; 
  font-size: 12px;
  margin-bottom: 9px;
} 